{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <link rel="stylesheet" href="{% static 'appWeb/css/stylesRepo.css' %}" />
     
</head>
     
<body>
     
  <header>
    <div class="main-header">
      <h1>MENU REPORTERIA</h1>
    </div>
    <input type="checkbox" id="openSidebarMenu">
    <label for="openSidebarMenu" class="mobile-nav">MENU</label>
    <nav class="main-header-nav">
      <ul class="container">
        <li><a href="demanda_diaria/">Demanda Diaria</a></li>
        <li><a href="informe_mensual/">BRES</a></li>
        <li><a href="mostrar_indicadores/">Indicadores Mensuales</a></li>
        <li><a href="">Resumen quincenal</a></li>
        <li><a href="informe_productos/">Stock</a></li>
        <li><a href="calculate/">##</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <div><br>AREA DE REPORTERIA</div>
  </main>
</body>
</html>

